<mat-card>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <!-- <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading"> -->
    <form [formGroup]="form" (submit)="onAddBill()">

        <mat-form-field>
            <input matInput type="date" formControlName="bill_date" placeholder="Bill Date">
            <mat-error *ngIf="form.get('bill_date').invalid">Bill Date Required</mat-error>
        </mat-form-field>


        <mat-form-field>
            <input matInput type="date" formControlName="paid_date" placeholder="Paid Date">
            <mat-error *ngIf="form.get('paid_date').invalid">Paid Date Required</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="unit_consumed" placeholder="Unit Consumed">
            <mat-error *ngIf="form.get('unit_consumed').invalid">Unit Consumed Required</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="amount" placeholder="Amount">
            <mat-error *ngIf="form.get('amount').invalid">Amount</mat-error>

        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Post Bill</button>
    </form>
</mat-card>

<!-- <p>{{newPost}}</p> -->